.view-statistics {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006eff;
  border: none;
  outline: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
}
