@import "../../scss/functions/continers.scss";

.register-page {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    rgb(140, 0, 255) 20%,
    rgb(255, 255, 255) 0%
  );
  @include center-all();

  @media screen and(max-width: 920px) {
    display: flex;
    flex-direction: column;
  }

  .help-view {
    min-width: 20%;
    right: 3rem;
    bottom: 50px;
    position: fixed;
    min-height: 3rem;
    background-color: rgba(0, 0, 0, 0.452);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    backdrop-filter: blur(15px) brightness(8);
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    @include center-all();
  }

  .login-card {
    padding-bottom: 1rem;
    margin-left: 1rem;
    width: 33%;
    min-height: 30rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    display: flex;
    flex-direction: column;

    @media screen and(max-width: 920px) {
      width: 85%;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .header {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      .back {
        background-color: rgb(252, 127, 127);
        color: white;
        text-transform: capitalize;
      }

      .title {
        display: flex;
        color: rgba(0, 0, 0, 0.89);
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: capitalize;
        & :first-child {
          color: rgb(140, 0, 255);
          margin-right: 0.5rem;
        }
      }
    }

    .form {
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .field {
        width: 80%;
        margin-top: 1rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        label {
          color: rgb(68, 68, 68);
          margin-left: 1rem;
          margin-bottom: 0.5rem;
        }

        input {
          width: 100%;
          padding-left: 5px;
          padding-top: 1rem;
          padding-bottom: 1rem;
          border: solid 1px rgba(0, 0, 0, 0.075);
          outline-color: rgba(0, 89, 255, 0.329);
          box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
            0 8px 10px -6px rgb(0 0 0 / 0.1);
          font-size: 1rem;
        }
      }
    }

    .auth-message {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      a {
        margin-right: 1rem;
        color: rgb(140, 0, 255);
        transition: all 0.2s linear;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          color: rgb(47, 0, 255);
        }
      }
    }

    .btn-onsesion {
      display: flex;
      justify-content: center;
      align-items: center;
      .submit {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        width: 75%;
        background-color: rgb(140, 0, 255);
        color: white;
        text-transform: capitalize;
      }
    }
  }
}

.register-create {
  padding-bottom: 1rem;
  margin-left: 1rem;
  width: 50%;
  min-height: 30rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  display: flex;
  flex-direction: column;
  @include center-all;
  @media screen and(max-width: 920px) {
    width: 85%;
  }
  .circle {
    padding: 1rem;
    border-radius: 100%;
    animation: scales 7s linear infinite;
    color: #8c00ff;
    .register-icon {
      width: 5rem;
      height: 5rem;
    }
  }
  @keyframes scales {
    0% {
      transform: scale(1);
      border: solid#8c00ff 5px;
    }
    50% {
      transform: scale(0.9);
      color: #8c00ff;
      border: solid#8c00ff 5px;
    }

    100% {
      transform: scale(1);
      border: solid#8c00ff 5px;
    }
  }

  .title {
    display: flex;
    @include center-all();
    flex-direction: column;

    button {
      width: 75%;
      background-color: rgb(140, 0, 255);
      color: white;
      text-transform: capitalize;
    }
  }
}
